<%- include('./partials/inicio.ejs'); %>

  <table class="table-primary">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% users.forEach(users => { %> 
        <th scope="row"><%= users.id%></th>
        <td><%= users.name%></td>
        <td><%= users.email%></td>
        <td>
          <!--<a href="/users/<%= users.id%>/edit" class="btn btn-primary">Editar</a> -->
          <form action="/deleteuser/<%= users.id%>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Deletar</button>
          </form>
      </tr>
      <% }) %> 
    </tbody>
  </table>
  <%- include('./partials/fim.ejs'); %>